@media screen and (max-width: 768px) {


    .container {
        width: 100%;
    }


}

@media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .row .col {
        width: 100%;
        margin-bottom: 30px;
    }

    .steps {
        margin: 0;
    }

    .why-us {
        background-color: #222222;
        margin: 0%;
        padding-top: 3rem;
    }
}